@media screen and (max-width: 1150px) {
    .nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 6%, 0.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right 0.4s;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;
}

.nav_logo {
    color: var(--first-color);
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--body-font);

}

.nav_logo dl {
    color: var(--gray-dark);
}

.nav_logo dl dt {
    font-size: 28px;
    margin-right: 8px;
}

.nav_logo dl dt p {
    float: right;
    font-size: 28px;
    font-weight: var(--font-semi-bold);
}

.nav_logo dl dd {
    display: block;
    float: left;
    font-size: 12px;
    color: var(--gray-lighter);
    letter-spacing: 5px;
    font-weight: var(--font-extra-light);
}

.nav_menu {
    /* width: 300px;
    height: 100ch;
    border-radius: 5px;
    background-color: red; */
}

.nav_list {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    /* background-color: var(--gray-lighter); */
    height: 50px;
    border-radius: 4px;
    padding: 0 30px;
}

.nav_item {
    margin-top: 15px;
}

.nav_link {
    color: var(--gray-light);
    font-family: var(--secondary-font);
    font-weight: var(--font-medium);
    transition: color 0.4s;
    margin: 30px;
    position: relative;
    outline: none !important;
    transition: 0.4s;
}

.nav_link:after {
    background-color: var(--teal-main);
    content: "";
    width: 0;
    transition: 0.4s;
    position: absolute;
}

.nav_link:hover,
.nav_link:focus {
    color: var(--teal-main);
}

.nav_link:hover, 
.nav_icon_link:hover{
    color: var(--teal-main);
}

.nav_link:hover::after,
.nav_link:focus::after {
    width: 100%;
}

.nav_media {
    display: inline-block;
    position: relative;
}

.nav_icon {
    font-size: 24px;
    float: left;
}

.nav_icon_link {
    color: #202022;
    display: block;
    margin-left: 20px;
    transition: color 0.4s;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: solid 1px var(--shadow-color);
    padding: 0.8rem;
}

footer span {
    text-align: center;
    font-size: 11px;
    font-weight: var(--font-extra-light);
    text-align: center;
    width: 100vw;
}