.App {
  text-align: center;
}
.App dl dd {
  margin: 0;
}

.device_container {
  width: 220px;
  height: 380px;
}

.main_content {
  flex: 1;
}

.box_container {
  display: block;
  width: 90vw;
  height: 80vh;
  border-radius: 12px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  margin: 100px auto 20px auto;
}

.box_shadow {
  box-shadow: 0px 4px 22px 4px var(--shadow-color);
}

.small_box_shadow_red {
  box-shadow: 0px 2px 8px 4px var(--wood-red);
}

.full_width {
  width: 100vw;
}

.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  align-content: center;
  border: solid 6px var(--shadow-color);
  overflow: hidden;
}

.profile_pic img {
  max-width: 120%;
  margin: -15px 0 0 -30px;
  display: block;
}

.left_icon {
  color: white;
  height: 30px;
  margin-right: 20px;
  font-size: 32px;
  position: relative;
  display: inline-block;
}

.ul_horizontal {
  display: inline-block;
  position: relative;
}

.ul_horizontal li {
  float: left;
  padding: 12px;
}

.large_list_icon {
  font-size: 3.2rem;
}

.h_margin_small {
  margin: 0 8px;
}

.h_margin_medium {
  margin: 0 12px;
}

.padding_top_huge {
  display: block;
  position: absolute;
  bottom: 40px;
  margin-left: 31%;
}

.li_icon {
  transition: 0.4s linear;
}

.li_icon:hover {
  color: var(--swift-orange);
}

.scroll_container {
  width: 900px;
  margin: 90px auto 150px auto;
}