@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;
  --gray-light: #878787;
  --gray-lighter: #CACACA;
  --gray-dark: #202022;
  --teal-main: #00BBC9;
  --teal-dark: #00747C;
  --sunny-red: #FF5A33;
  --wood-red: rgba(57, 13, 2, 0.15);
  --lemon-yellow: #FFEC5C;
  --lemon-green: #B4CF66;
  --olive-green: #44803F;
  --tree-green: #146152;
  --swift-orange: #F24405;
  --shadow-color: rgba(235, 241, 237, 1);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-font: "Lexend", sans-serif;
  --secondary-font: "DM Mono", monospace;
  --font-optical-sizing: auto;
  --font-style: normal;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  --z-tooltip: 10;
  --z-fixed: 100;

  --small-radius: 4px;
  --medium-radius: 8px;
  --big-radius: 12px;
  --huge-radius: 16px;
}

body {
  background-color: white;
  color: var(--text-color);
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
ul {
  list-style: none;
}
 
a {
  text-decoration: none;
}