.text_emphasis {
    font-size: 4.0rem;
}

.text_medium {
    font-weight: var(--font-medium);
}

.text_light {
    font-weight: var(--font-light);
}

.p_subtitle p {
    
}

.text_cutted {
    text-decoration: line-through;
}

.text_teal_color {
    color: var(--teal-main);
}

.text_centered {
    text-align: center;
}

.description_small {
    font-size: 11px;
    font-weight: var(--font-light);
}

.h2_title {

}

.h3_subtitle {
    font-weight: 200;
}